:root {
  --dark-green: #195A00;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}


.nav--tab {
  background-color: transparent;
  border: none;
}

.tab--active {
  border-bottom: 2px solid var(--dark-green);
  font-weight: bold;
}

.main {
  min-width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main--left {
  margin-top: 20%;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.left--subtitle {
  font-family: 'Miniver', cursive;
  color: var(--dark-green);
  font-size: 1.2rem;
}

.left--title {
  margin: 0;
  font-size: 3rem;
  max-width: 460px;
}

.left--description {
  max-width: 480px;
}

.buttons--order,
.buttons--show {
  width: 195px;
  height: 58px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

.buttons--order {
  margin-right: 10px;
  background: var(--dark-green);
  color: white;
}

.buttons--show {
  background-color: transparent;
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.main--right {
  display: flex;
  position: relative;
  justify-content: end;
}

.right--bg {
  position: absolute;
  top: -2vh;
  width: 80%;
  ;
}

.right--lettuce {
  position: absolute;
  width: 50%;
  top: 25%;
  right: 35%;
}

.right--leaf1,
.right--leaf2 {
  position: absolute;
  width: 30%;
}

.right--leaf1 {
  top: 16%;
  right: 50%;
}

.right--leaf2 {
  transform: rotate(250deg);
  top: 50%;
  right: 45%;
}

.right--plate {
  z-index: 10;
  position: relative;
  top: 20%;
  right: 20%;
  width: max(240px, 50%);
  height: max(240px, 50%);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--subheader {
  text-align: center;
}

.subheader--title {
  font-size: 2.5rem;
}

.subheader--description {
  max-width: 500px;
  font-weight: 300;
}

.menu--list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 20px;
}


.list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list--item {
  border-bottom: 1px dotted gray;
}

.description--title {
  font-size: 1.2rem;
}

.description--p {
  font-size: .8rem;
  font-weight: 300;
}

.item--price {
  font-weight: bold;
  color: var(--dark-green);
}

.about {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.about--gallery {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
}

.gallery--image1 {
  grid-area: 1 / 1 / 6 / 5;
}

.gallery--image2 {
  grid-area: 2 / 4 / 8 / 7;
}

.article--why {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Miniver', cursive;
  color: var(--dark-green);
}

.article--title {
  margin: 0;
  font-size: 3rem;
}

.article--p {
  max-width: 700px;
  font-weight: 300;
  line-height: 1.4rem;
}

.article--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.grid--item {
  padding: 10px;
  display: flex;
  gap: 20px;
  background: #fff;
  border-radius: 10px;
}

.grid--item:first-child {
  border-left: 4px solid var(--dark-green);
}